.data-grid{
  margin:auto;
  width:inherit;
  max-width: 100%;
  background-color:white; 
  text-align:center; 
}
.data-grid td{
  padding:5px;
}
.data-grid thead tr{
  background-color: cyan;
  font-weight: 700;
  padding:5px;
}
.data-grid thead .ASC, .data-grid thead .DESC{
  text-decoration: underline;  
}
.data-grid thead .ASC:hover, .data-grid thead .DESC:hover{
  cursor:pointer;  
}
.data-grid tbody tr:nth-child(even){
  background-color: rgb(252, 239, 165);
}
.data-grid tbody tr:hover{
  background-color: rgb(252, 206, 115);
}

.edit-button{
  padding:4px;
  border-radius:5px;
  background-color: grey;
  border: 1px solid grey;
  color:white;
  text-decoration: none !important;
}
.edit-button:hover{
  cursor:pointer;
  border: 1px inset grey;
  background-color: #444;
}